.server {
	padding-bottom: 30px;
}

.server .title {
	font-weight: bold;
	min-width: 80px;
	display: inline-block;
}

.server .server-name .title {
	display: none;
}

.server .server-name .value {
	font-size: 150%;
}

@media (prefers-color-scheme: dark) {

	body {
		color: #cbcbcb;
		background-color: #222;
	}
	a {
		color: #3491ff;
	}

	a:hover {
		color: #0074ff;
	}

	a:visited {
		color: #8583ff;
	}

}
